

body {
    background-color:goldenrod;
}


    

#Title {
    font-size: 24px;
    color: red;
    text-align: center;
   
    
}
#H1 {
    color:red;
    font-size: 36px;
    text-align: center;
    
   
}
#History {
    color: navy;
    font-family: sans-serif;
    font-size: 18px;
   
}

#Awards {
    color: navy;
    font-family: sans-serif;
    font-size: 18px;
    
    
}

    
}
#H3 {
    color:red;
    font-size: 24px;
    text-align: center;
   
}

 @media only screen and (min-width: 40px) {
    body {
      background-color:blue;
}   
    
