

body {
    background-color:goldenrod;
}

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}
    

#Title {
    font-size: 24px;
    color: red;
    text-align: center;
    
    
}
#H1 {
    color:red;
    font-size: 36px;
    text-align: center;
    
   
}
#History {
    color: navy;
    font-family: sans-serif;
    font-size: 18px;
   
}

#Awards {
    color: navy;
    font-family: sans-serif;
    font-size: 18px;
    
    
}

    
}
#H3 {
    color:red;
    font-size: 24px;
    text-align: center;
    
}

#website {
    
    font-size:30px;
}

#Goalkeepers {
    font-size:18;
    float:left;
    color:navy;
    
}

#Defenders  {
    font-size:18;
    float:left;
    color:navy;
}

#Midfielders  {
    font-size:18;
    float:left;
    color:navy;
}

#Forwards  {
    font-size:18;
    float:left;
    color:navy;
}

 
    
